.holiday-content-header{width:1407px;position: relative;height: 44px;line-height: 44px;border: 1px solid #dfdfdf;border-top: 0;}
.holiday-content-header>span{font-size: 12px;display: block;line-height: 1;z-index: 10;position: absolute;top: -13px;width: 362px;text-align: center;}
.holiday-content-week>span{display:inline-block;height: 30px;line-height: 30px;width: 200px;text-align: center;}
.holiday-content-week>span:last-of-type{margin-right: 0;}
.holiday-content-body{border: 1px solid #dfdfdf;border-top: 0;position: relative;width: 1407px;}
.holiday-date{color:#666;display: inline-block;width: 200px;text-align: center;position: relative;z-index: 10;float: left;border: 1px solid #dfdfdf;border-top: 0;border-right: 0;margin-top: -0.1px;}
.holiday-date:nth-of-type(7n+1){border-left: 0;}